<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>LO54</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="spacer col-md-6 col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">Formulaire d'une session</div>
        <div class="panel-body">
            <form th:action="@{/admin/saveSession}" method="post">
                <div class="form-group">
                    <label class="control-label">id</label>
                    <input class="form-control" type="text" name="id"
                           th:value="${courseSession.id}" readonly="readonly"/>
                    <span class="red" th:errors="${courseSession.id}"></span>
                </div>
                <!--<div class="form-group">
                    <label class="control-label">city</label>
                    <input class="form-control" type="text" name="city"
                           th:value="${courseSession.location.city}"/>
                    <span class="red" th:errors="${courseSession.location.city}"></span>
                </div>-->
                <div class="form-group">
                    <label class="control-label">code course</label>
                    <input class="form-control" type="text" name="course.code"
                           th:value="${courseSession.course.code}"/>
                    <span class="red" th:errors="${courseSession.course.code}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">title course</label>
                    <input class="form-control" type="text" name="title"
                           th:value="${courseSession.course.title}"/>
                    <span class="red" th:errors="${courseSession.course.title}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <input class="form-control" type="text" name="startDate"
                           th:value="${courseSession.startDate}"/>
                    <span class="red" th:errors="${courseSession.startDate}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <input class="form-control" type="text" name="endDate"
                           th:value="${courseSession.endDate}"/>
                    <span class="red" th:errors="${courseSession.endDate}"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Max</label>
                    <input class="form-control" type="text" name="maxNumberOfStudents"
                           th:value="${courseSession.maxNumberOfStudents}"/>
                    <span class="red" th:errors="${courseSession.maxNumberOfStudents}"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>